body{
    background-color:#87cefa ;
    color: #f8f8ff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    color: #f8f8ff;
}
input{
    height: 20px;
}